/* RESET */

body, header, h1, input, button, svg, div {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* FLEX */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ELEMENT SPECIFIC */

body {
  min-height: 100vh;
  background-color: #21252b;
}

/* FONTS */

@font-face {
  font-family: Dense;
  src: url('../fonts/dense-reg.otf');
}
