/* GENERAL */

.hide {
  display: none;
}

/* PAGE HEADER */

.page-hdr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 72px;
  width: 100%;
  padding: 8px;
  background-color: #383d47;
  box-shadow: 0 0 15px 1px black;
}

.page-hdr__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 2px;
  background-color: #4f5664;
  color: #eee;
  font: 35px Dense;
}

.page-hdr__input::placeholder {
  color: #aaa;
}

.page-hdr__reset-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  padding: 25px 0;
}

.page-hdr__reset-btn {
  height: 20px;
  width: 20px;
  padding: 3px 3px 4px 3px;
  color: #4f5664;
  background-color: #aaa;
  border-radius: 100%;
}

.page-hdr__reset-btn:hover {
  cursor: pointer;
}

/* RESULTS SECTION */

.results-sctn ul {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  margin-top: 72px;
}

.results-sctn__result-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: calc((100vw - (9 * 16px)) / 8);
  width: calc((100vw - (9 * 16px)) / 8);
  background-color: #333;
  border-radius: 2px;
  box-shadow: 0 5px 15px -5px black;
  font: 1.5vw Dense;
  color: #eee;
  margin: 8px;
  background-size: cover;
  text-decoration: none;
}

.results-sctn__result-tile:hover .results-sctn__result-hover {
  display: flex;
}

.results-sctn__result-hover {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
