// VARS
$boxSize: 250px;

.artist-sctn {
	margin: $sFull;
	flex-direction: column;
}

.artist-sctn input {
  width: ($boxSize * 3) + ($sFull * 2);
  height: 48px;
  border-radius: 3px;
  padding: 12px;
  font: 20px $fMain;
  margin-bottom: $sFull;
  background-color: $cWhite;
	text-transform: capitalize;
}

.artist-sctn__box-wrap {
  width: ($boxSize * 3) + ($sFull * 2);
  justify-content: space-between;
}

.artist-sctn__box {
  flex-direction: column;
  position: relative;
  width: $boxSize;
  padding: 8px;
  border-radius: 3px;
  background-color: $cLight;
}

.artist-sctn__box:not(.selected):hover {
  cursor: pointer;
  background-color: $cLighter;
}

.selected {
  background-color: $cWhite;

  span {
    color: black !important;
  }
}

.artist-sctn__box div {
  width: $boxSize - 16px;
  height: $boxSize - 16px;
  border-radius: 3px;
  background-color: $cMain;
  background-size: cover;
  background-position: center;
}

.artist-sctn__box span {
  width: 100%;
  padding: 12px 0 4px 0;
  font: 15px $fMain;
  color: $cWhite;
}
