// GENERAL

body {
  min-height: 100vh;
  background-color: #21252b;
}

.data-page {
  flex-direction: column;

	& > div {
		flex-direction: column;
		width: 100vw;
		padding: $sFull;
	}
}

// UTILITY CLASSES

.hide {
  display: none;
}

.inactive {
  pointer-events: none;
  cursor: default;

	&.tile {
		color: #444 !important;
	}
}
