// SIZE RESET

a, body, button, div, h1, header, input, section, span, svg, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  border-radius: 0;
}

// FLEX

a, button, div, form, header, section, span, ul {
  @include flex;
}

// GENERAL

body {
  min-height: 100vh;
  background-color: #21252b;
}

a:hover, button:hover, svg:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.app {
  flex-direction: column;
}

.main {
  flex-direction: column;
  width: 100vw;
  padding: $sFull;
}

// UTILITY CLASSES

.hide {
  display: none;
}

.inactive {
  pointer-events: none;
  cursor: default;

	&.tile {
		color: #444 !important;
	}
}
