.results-sctn {
  min-width: 100vw;
}

.results-sctn ul {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: $tile-padding;
  margin-top: $header-height;
}

.results-sctn__result-tile {
  text-align: center;
  position: relative;
  height: $tile_2;
  width: $tile_2;
  background-color: #333;
  border-radius: 2px;
  box-shadow: 0 5px 15px -5px black;
  font: 22px Dense;
  color: $text;
  margin: $tile-padding;
  background-size: cover;
  text-decoration: none;
}

.results-sctn__result-tile:hover .results-sctn__result-hover {
  display: flex;
}

.results-sctn__result-hover {
  display: none;
  height: 100%;
  width: 100%;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

// RESPONSIVE

$base: 475px;
$range: 175px;

@media (min-width: $base) {
  .results-sctn__result-tile {
    width: $tile_3;
    height: $tile_3;
  }
}

@media (min-width: $base + #{$range}) {
  .results-sctn__result-tile {
    width: $tile_4;
    height: $tile_4;
  }
}

@media (min-width: $base + #{$range} * 2) {
  .results-sctn__result-tile {
    width: $tile_5;
    height: $tile_5;
  }
}

@media (min-width: $base + #{$range} * 3) {
  .results-sctn__result-tile {
    width: $tile_6;
    height: $tile_6;
  }
}

@media (min-width: $base + #{$range} * 4) {
  .results-sctn__result-tile {
    width: $tile_7;
    height: $tile_7;
  }
}

@media (min-width: $base + #{$range} * 5) {
  .results-sctn__result-tile {
    width: $tile_8;
    height: $tile_8;
  }
}

@media (min-width: $base + #{$range} * 6) {
  .results-sctn__result-tile {
    width: $tile_9;
    height: $tile_9;
  }
}

@media (min-width: $base + #{$range} * 7) {
  .results-sctn__result-tile {
    width: $tile_10;
    height: $tile_10;
  }
}
