// SIZING

$sHeaderHeight: 72px;
$sFull: 30px;
$sHalf: 15px;

// COLOURS

$cTextLight: white;
$cTextLightHover: #eee;

$c0: #21252b;
$c1: #2c323a;
$c2: #373e48;
$c3: #434b56;
$c4: #4e5765;

$cHover: goldenrod;

// FONTS

$fDataPage: Helvetica;
