// SIZING

$sHeaderHeight: 72px;
$sFull: 30px;
$sHalf: 15px;

// COLOURS

$cTextLight: white;
$cTextLightHover: #eee;

$cMain: #21252b;
$cLight: #373e48;
$cLighter: #434b56;
$cHover: goldenrod;

// FONTS

$fDataPage: Helvetica;
