// GENERAL

@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'reset';
@import 'general';

// MAIN PAGE

@import 'main/searchBar';
@import 'main/resultsList';

// DATA ENTRY PAGE

@import 'data/headerBar';
@import 'data/artists';
@import 'data/albums';
@import 'data/resultsNav';
