$panelSize: 25rem;

.data-artists-sctn {
	flex-direction: column;
	margin: $sFull;

	input {
	  width: ($panelSize * 3) + ($sFull * 2);
	  height: 4.8rem;
		margin-bottom: $sFull;
		padding: 1.2rem;

		border-radius: .3rem;
	  font: 2rem $fDataPage;
		text-transform: capitalize;
	  background-color: $cTextLight;
	}

	> div {
		justify-content: space-between;
		width: ($panelSize * 3) + ($sFull * 2);
	}
}

.artist-sctn__panel {
	position: relative;
  flex-direction: column;

	width: $panelSize;
  padding: .8rem;

	border-radius: .3rem;
  background-color: $c2;

	&.selected {
		background-color: $cTextLight;

		span {
			color: black !important;
		}
	}

	&:not(.selected):hover {
		cursor: pointer;
		background-color: $c3;
	}

	div {
		width: $panelSize - 1.6rem;
		height: $panelSize - 1.6rem;

		border-radius: .3rem;
		background-color: $c0;
		background-size: cover;
		background-position: center;
	}

	span {
		width: 100%;
		padding: 1.2rem 0 .4rem 0;

		color: $cTextLight;
		font: 1.5rem $fDataPage;
	}
}
