.album-results-nav {
	@include flex;
	margin-bottom: $sHalf;

	span {
		width: 95px;
		margin: 0 40px;
		font: 30px $fDataPage;
		color: $cTextLight;
	}

	svg {
		height: 60px;
		width: 80px;
		padding: 5px;

		border-radius: 3px;
		color: $c0;
		background-color: $c2;

		&:hover {
			background-color: $c3;
		}
	}
}
