@font-face {
  font-family: Dense;
  src: url("../fonts/dense.otf"); }

body, header, h1, input, button, div, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

header, div, ul, a {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  min-height: 100vh;
  background-color: #21252b; }

button:hover, a:hover {
  cursor: pointer; }

.hide {
  display: none; }

.page-hdr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 72px;
  width: 100%;
  padding: 8px;
  background-color: #383d47;
  box-shadow: 0 0 15px 1px black; }

.page-hdr__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 2px;
  background-color: #4f5664;
  color: #eee;
  font: 35px Dense; }

.page-hdr__input::placeholder {
  color: #aaa; }

.page-hdr__reset-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 23px; }

.page-hdr__reset-btn {
  height: 20px;
  width: 20px;
  padding: 3px 3px 4px 3px;
  color: #4f5664;
  background-color: #aaa;
  border-radius: 100%; }

.page-hdr__reset-btn:hover {
  cursor: pointer; }

.results-sctn {
  min-width: 100vw; }

.results-sctn ul {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 8px;
  margin-top: 72px; }

.results-sctn__result-tile {
  text-align: center;
  position: relative;
  height: calc((100vw - (3 * (8px * 2))) / 2);
  width: calc((100vw - (3 * (8px * 2))) / 2);
  background-color: #333;
  border-radius: 2px;
  box-shadow: 0 5px 15px -5px black;
  font: 22px Dense;
  color: #eee;
  margin: 8px;
  background-size: cover;
  text-decoration: none; }

.results-sctn__result-tile:hover .results-sctn__result-hover {
  display: flex; }

.results-sctn__result-hover {
  display: none;
  height: 100%;
  width: 100%;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

@media (min-width: 475px) {
  .results-sctn__result-tile {
    width: calc((100vw - (4 * (8px * 2))) / 3);
    height: calc((100vw - (4 * (8px * 2))) / 3); } }

@media (min-width: 650px) {
  .results-sctn__result-tile {
    width: calc((100vw - (5 * (8px * 2))) / 4);
    height: calc((100vw - (5 * (8px * 2))) / 4); } }

@media (min-width: 825px) {
  .results-sctn__result-tile {
    width: calc((100vw - (6 * (8px * 2))) / 5);
    height: calc((100vw - (6 * (8px * 2))) / 5); } }

@media (min-width: 1000px) {
  .results-sctn__result-tile {
    width: calc((100vw - (7 * (8px * 2))) / 6);
    height: calc((100vw - (7 * (8px * 2))) / 6); } }

@media (min-width: 1175px) {
  .results-sctn__result-tile {
    width: calc((100vw - (8 * (8px * 2))) / 7);
    height: calc((100vw - (8 * (8px * 2))) / 7); } }

@media (min-width: 1350px) {
  .results-sctn__result-tile {
    width: calc((100vw - (9 * (8px * 2))) / 8);
    height: calc((100vw - (9 * (8px * 2))) / 8); } }

@media (min-width: 1525px) {
  .results-sctn__result-tile {
    width: calc((100vw - (10 * (8px * 2))) / 9);
    height: calc((100vw - (10 * (8px * 2))) / 9); } }

@media (min-width: 1700px) {
  .results-sctn__result-tile {
    width: calc((100vw - (11 * (8px * 2))) / 10);
    height: calc((100vw - (11 * (8px * 2))) / 10); } }
