@font-face {
  font-family: Dense;
  src: url("../fonts/dense.otf"); }

a, body, button, div, h1, header, input, section, span, svg, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  border-radius: 0; }

a, button, div, form, header, section, span, ul {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  min-height: 100vh;
  background-color: #21252b; }

a:hover, button:hover, svg:hover {
  cursor: pointer; }

button:focus {
  outline: none; }

.app {
  flex-direction: column; }

.main {
  flex-direction: column;
  width: 100vw;
  padding: 30px; }

.hide {
  display: none; }

.inactive {
  pointer-events: none;
  cursor: default; }
  .inactive.tile {
    color: #444 !important; }

.page-hdr {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 72px;
  width: 100%;
  padding: 8px;
  background-color: #383d47;
  box-shadow: 0 0 15px 1px black; }

.page-hdr__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 2px;
  background-color: #4f5664;
  color: #eee;
  font: 35px Dense; }

.page-hdr__input::placeholder {
  color: #aaa; }

.page-hdr__reset-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 23px; }

.page-hdr__reset-btn {
  height: 20px;
  width: 20px;
  padding: 3px 3px 4px 3px;
  color: #4f5664;
  background-color: #aaa;
  border-radius: 100%; }

.page-hdr__reset-btn:hover {
  cursor: pointer; }

.results-sctn {
  min-width: 100vw;
  justify-content: flex-start; }

.results-sctn ul {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 8px;
  margin-top: 72px;
  list-style: none; }

.results-sctn__result-tile {
  text-align: center;
  position: relative;
  height: calc((100vw - (3 * (8px * 2))) / 2);
  width: calc((100vw - (3 * (8px * 2))) / 2);
  background-color: #333;
  border-radius: 2px;
  box-shadow: 0 5px 15px -5px black;
  font: 22px Dense;
  color: #eee;
  margin: 8px;
  background-size: cover;
  text-decoration: none; }

.results-sctn__result-tile:hover .results-sctn__result-hover {
  display: flex; }

.results-sctn__result-hover {
  display: none;
  height: 100%;
  width: 100%;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

@media (min-width: 475px) {
  .results-sctn__result-tile {
    width: calc((100vw - (4 * (8px * 2))) / 3);
    height: calc((100vw - (4 * (8px * 2))) / 3); } }

@media (min-width: 650px) {
  .results-sctn__result-tile {
    width: calc((100vw - (5 * (8px * 2))) / 4);
    height: calc((100vw - (5 * (8px * 2))) / 4); } }

@media (min-width: 825px) {
  .results-sctn__result-tile {
    width: calc((100vw - (6 * (8px * 2))) / 5);
    height: calc((100vw - (6 * (8px * 2))) / 5); } }

@media (min-width: 1000px) {
  .results-sctn__result-tile {
    width: calc((100vw - (7 * (8px * 2))) / 6);
    height: calc((100vw - (7 * (8px * 2))) / 6); } }

@media (min-width: 1175px) {
  .results-sctn__result-tile {
    width: calc((100vw - (8 * (8px * 2))) / 7);
    height: calc((100vw - (8 * (8px * 2))) / 7); } }

@media (min-width: 1350px) {
  .results-sctn__result-tile {
    width: calc((100vw - (9 * (8px * 2))) / 8);
    height: calc((100vw - (9 * (8px * 2))) / 8); } }

@media (min-width: 1525px) {
  .results-sctn__result-tile {
    width: calc((100vw - (10 * (8px * 2))) / 9);
    height: calc((100vw - (10 * (8px * 2))) / 9); } }

@media (min-width: 1700px) {
  .results-sctn__result-tile {
    width: calc((100vw - (11 * (8px * 2))) / 10);
    height: calc((100vw - (11 * (8px * 2))) / 10); } }

.header-bar {
  justify-content: space-between;
  width: 100vw;
  padding: 10px;
  height: 72px;
  background-color: #373e48;
  box-shadow: 0 0 15px 1px black; }

.header-bar__title {
  margin-left: 5px;
  font: bold 30px Helvetica;
  color: #eee; }

.header-bar__spotify-btn {
  height: 100%;
  color: #eee;
  font-size: 55px; }

.artist-sctn {
  margin: 30px;
  flex-direction: column; }

.artist-sctn input {
  width: 810px;
  height: 48px;
  border-radius: 3px;
  padding: 12px;
  font: 20px Helvetica;
  margin-bottom: 30px;
  background-color: #eee;
  text-transform: capitalize; }

.artist-sctn__box-wrap {
  width: 810px;
  justify-content: space-between; }

.artist-sctn__box {
  flex-direction: column;
  position: relative;
  width: 250px;
  padding: 8px;
  border-radius: 3px;
  background-color: #373e48; }

.artist-sctn__box:not(.selected):hover {
  cursor: pointer;
  background-color: #434b56; }

.selected {
  background-color: #eee; }
  .selected span {
    color: black !important; }

.artist-sctn__box div {
  width: 234px;
  height: 234px;
  border-radius: 3px;
  background-color: #21252b;
  background-size: cover;
  background-position: center; }

.artist-sctn__box span {
  width: 100%;
  padding: 12px 0 4px 0;
  font: 15px Helvetica;
  color: #eee; }

.album-sctn {
  flex-direction: column; }
  .album-sctn ul {
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap; }

.album {
  margin: 15px;
  padding: 15px;
  border-radius: 3px;
  background-color: #373e48; }
  .album.added {
    background-color: seagreen; }

.album__img {
  height: 220px;
  width: 220px;
  margin-right: 15px;
  border-radius: 3px;
  background-color: #21252b;
  background-size: cover;
  background-position: center; }

.album__input-wrap {
  flex-direction: column;
  justify-content: flex-start;
  height: 220px;
  width: 286px; }
  .album__input-wrap div {
    position: relative;
    width: 100%; }
  .album__input-wrap input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 2px;
    background-color: #eee;
    font: 16px Helvetica;
    margin-bottom: 15px; }

.album__year-wrap a {
  position: absolute;
  top: 0;
  right: 0; }
  .album__year-wrap a svg {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    background-color: gray;
    color: white; }
    .album__year-wrap a svg:hover {
      color: goldenrod; }

.album__button-wrap {
  width: 100%;
  flex-grow: 1; }
  .album__button-wrap svg {
    width: 75px;
    height: 50px;
    padding: 3px 25px 0 25px;
    border-radius: 4px;
    background-color: #21252b;
    color: #eee; }
    .album__button-wrap svg:hover {
      color: goldenrod; }

.album-results-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px; }
  .album-results-nav span {
    width: 95px;
    margin: 0 40px;
    font: 30px Helvetica;
    color: #eee; }
  .album-results-nav svg {
    color: #21252b;
    background-color: #373e48;
    border-radius: 3px;
    height: 60px;
    width: 80px;
    padding: 5px; }
    .album-results-nav svg:hover {
      background-color: #434b56; }
