$pSearchBar: .8rem;

.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  height: $sHeaderHeight;
  width: 100vw;
  padding: $pSearchBar;

	background-color: $c2;
  box-shadow: 0 0 1.5rem .1rem black;

	& > div {
		position: relative;
		flex-grow: 1;
	}
}

.search-bar__input {
	flex-grow: 1;
	height: $sHeaderHeight - ($pSearchBar * 2);
	padding: 1rem;

	border-radius: .2rem;
	background-color: #4f5664;
	color: $cTextLight;
	font: 3.4rem Dense;

	&::placeholder {
		color: #aaa;
	}
}

.search-bar__reset-btn {
	position: absolute;
	right: 1rem;

	height: 3rem;
	width: 3rem;
	color: #aaa;

	&:hover {
		color: #bbb;
	}
}

.search-bar__data-link {
	width: $sHeaderHeight - ($pSearchBar * 2);
	height: 100%;
	margin-left: $pSearchBar;

	border-radius: .2rem;
	color: white;
	background-color: $c0;

	&:hover {
		background-color: #2d3139;
	}

	svg {
		font-size: 2.5rem;
	}
}
